#如果您使用的不是Adobe Reader或Foxit Reader，
#那么您就需要在本文件中添加您使用的pdf阅读器的【标题】中【必然包含的字符】，
#然后再打开本程序。这样，您在您使用的pdf阅读器中做了“复制”操作时，
#本程序才会识别这一操作，并将其转换为单行。
#例如，Adobe Reader的标题必然是“XXX.pdf - Adobe Reader”这样的格式，
#那么，在本文件的一行里写上“.pdf - Adobe Reader”（不包括引号）即可。
#注意，在一行里不要输入标题中没有的空格等特殊字符。
#带#号的是注释，本程序会忽略掉。
.pdf - Adobe Reader
.pdf - Foxit Reader
